work/
*.raw
*.psf
*.log
*.ahdlSimDB/
*.spectre.out
simulation/
psf/
netlist/
CDS.log
cds.lib
lib.defs
*.oa.cdslck
*.swp
*~
docs/A_time_domain_winner-take-all_network_of_integrate-and-fire_neurons.pdf
